.footer {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #EEEEEE;
    margin-top: 5rem;
}
    .footer .container {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100px; }
      .footer .container .footer-links {
        display: block;
        position: relative; }
        .footer .container .footer-links ul {
          display: flex;
          position: relative;
          margin: 0;
          padding: 0; }
          .footer .container .footer-links ul li {
            display: flex;
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none; }
            .footer .container .footer-links ul li a {
              display: block;
              position: relative;
              width: auto;
              margin: 0;
              padding: 5px 10px;
              color: #8A84D2;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              text-decoration: none; }
              .footer .container .footer-links ul li a:active, .footer .container .footer-links ul li a:focus, .footer .container .footer-links ul li a:hover {
                text-decoration: underline; }
      .footer .container .footer-copyright {
        color: #393E46;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px; }
    @media screen and (max-width: 767px) {
      .footer .container {
        flex-direction: column-reverse;
        height: auto; }
        .footer .container .footer-links {
          display: block;
          width: 100%; }
          .footer .container .footer-links ul {
            display: flex;
            flex-direction: column;
            width: 100%; }
            .footer .container .footer-links ul li {
              display: block;
              width: 100%;
              text-align: center;
              padding: 16px 0;
              border-top: 1px solid rgba(0, 0, 0, 0.1); }
        .footer .container .footer-copyright {
          display: block;
          width: 100%;
          text-align: center;
          line-height: 100px; } }